nav.actions {
	.button {
		font-size: .8em;
		padding: .8em 1em .6em;
	}
	margin-bottom: 1em;
}
.box-list {
	list-style: none;
	display: flex;
	flex-flow : row wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	
	li {
		//flex-grow: 1;
		padding: .25em;
		border-radius: 5px;
		border: 2px solid $dark-teal;
		margin: .5em 2px .5em;
		min-width: 88px;
		// width: 31%;
		text-align: center;
		&:hover, &:active, &:focus  {
			background: $teal;
			a { color: #eee; }
		}
		&:empty {
			height: 0;
			border: none;
		}
	}

	a {
		display: block;
		font-size: 2em;
		white-space: nowrap;
		.calls {
			padding: .25em;
		}
	}
	
}


.people {
	width: 100%;
	td {
		border: 1px solid #eee;
		table {
			margin-bottom: 0;
		}
		table td {
			// nested tables get no borders
			border: none;
		}
	}
	th, td {		
		padding: 5px 8px;
	}
	.unit, .postcode, .phone {
		text-align: center;
	}
	.name{
		min-width: 130px;
	}
	.address {
		min-width: 160px;
	}
	.unit {
		width: 80px;
	}
	.postcode {
		width: 110px;
		white-space: nowrap;
	}
	.phone {
		width: 150px;
		white-space: nowrap;
	}
	.notes {
		width: 200px;
		text-align: center;
	}
	input[type='text']{
		opacity: 1;
		transition: all .8s ease;
	}
}

.disabled * {
	transition: all .5s ease;
}
.disabled input[type='text']{
	opacity: .25;
	text-decoration: line-through;
}



#feedback {
	padding: 0px 50px 0;
	color: #fff;
	height: 80px;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	transform: translateY(-100px);

	&.success {
		transform: translateY(-100px);
		background: $teal;
		-webkit-animation: feedback-in .3s ease-in-out forwards, feedback-out .3s ease-in-out 5s forwards;
		-moz-animation:    feedback-in .3s ease-in-out forwards, feedback-out .3s ease-in-out 5s forwards;
		animation:         feedback-in .3s ease-in-out forwards, feedback-out .3s ease-in-out 5s forwards;
	}
	&.fail {
		transform: translateY(-100px);
		background: $red;
		-webkit-animation: feedback-in .3s ease-in-out forwards;
		-moz-animation:    feedback-in .3s ease-in-out forwards;
		animation:         feedback-in .3s ease-in-out forwards;
	}
	&.dismissed {
		transform: translateY(0);
		-webkit-animation: feedback-out .3s ease-in-out forwards;
		-moz-animation:    feedback-out .3s ease-in-out forwards;
		animation:         feedback-out .3s ease-in-out forwards;
	}
	h3 {
		margin: 18px 0 3px;
	}
	p {
		margin: 0;
		font-size: 14px;
		opacity: .7;
	}
}
.dismiss {
	float: right;
	padding: 30px 0;
	opacity: .7;
	cursor: pointer;
	&:hover {
		opacity: 1;
		text-decoration: none;
	}
}
.small { font-size: .75em; }
.quiet { color: rgba($charcoal, .5); }