{% extends 'main.twig' %}

{% block title %}About Phone Territory Manager{% endblock %}

{% block content %}
    <strong>About</strong>
    <h2>Phone Territory Manager</h2>

    <p>Expect Riveting documentation here</p>
  </main>
{% endblock content %}