{% extends 'main.twig' %}

{% block content %}
	<h1>Uh-Oh! Something wrong happened</h1>
	<div class='error_detail'>
	{% for m in messages.error_detail %}
		<p>{{ m }}</p>
	{% endfor %}
	</div>
{% endblock %}